{% extends "base.html" %}

{% load static %}

{% block title %}LOCLIST{% endblock %}

{% block content %}
    <h1>Locations List (for UPDATE) Page (locations_list_upd)</h1>
    <h2>Click on a Location name to UPDATE details</h2>
    <ul>
      {% for location in loclist %}
        <li>
          <a href="{% url 'locdetupd' location.id %}">
            {{ location.location_name }}
          </a>
        </li>
      {% endfor %}
    </ul>


  <p>Click below to go back to ...</p>

  <p>
    <a href="{% url 'location_page' %}"><button><img src="{% static 'tpwebsite/Location.png' %}" width="50px" height="50px">Location</button></a>

    <a href="{% url 'landing_page' %}"><button><img src="{% static 'tpwebsite/Home.png' %}" width="50px" height="50px">Home</button></a>
  </p>

{% endblock %}
