{% extends "base.html" %}

{% load static %}

{% block title %}TeamUpdtList{% endblock %}

{% block content %}
    <h1>Teams Update Page</h1>
    <h2>Click on a Team name to Update details</h2>
    <ul>
        {% for team in teamlist %}
            <li>
                <a href="{% url 'teamdetupd' team.id %}">
                    {{ team.team_name }}
                </a>
            </li>
        {% endfor %}
    </ul>


  <p>Click below to go back to ...</p>

  <p>
    <a href="{% url 'team_page' %}"><button><img src="{% static 'tpwebsite/Teams.png' %}" width="50px" height="50px">Team</button></a>

    <a href="{% url 'landing_page' %}"><button><img src="{% static 'tpwebsite/Home.png' %}" width="50px" height="50px">Home</button></a>
  </p>

{% endblock %}
