{% extends "base.html" %}

{% load static %}

{% block title %}Welcome!{% endblock %}

{% block content %}

    <h1>Welcome to the Python-Django Team Planner</h1>
    <img src="{% static 'tpwebsite/Team Planner.png' %}" width="150px">

    <a href="{% url 'teams_list_page_mem' %}"><button><img src="{% static 'tpwebsite/TeamsList.png' %}" width="150px" height="150px">Team Lists</button></a>


    <h1>Choose a page from the business categories below:</h1>
    <a href="{% url 'location_page' %}"><button><img src="{% static 'tpwebsite/Location.png' %}" width="150px" height="150px">Locations</button></a>

    <a href="{% url 'manager_page' %}"><button><img src="{% static 'tpwebsite/Manager.png' %}" width="150px" height="150px">Managers</button></a>

    <a href="{% url 'member_page' %}"><button><img src="{% static 'tpwebsite/Member.png' %}" width="150px" height="150px">Members</button></a>

    <a href="{% url 'team_page' %}"><button><img src="{% static 'tpwebsite/Teams.png' %}" width="150px" height="150px">Teams</button></a>


{% endblock %}

