{% extends "base.html" %}

{% load static %}

{% block title %}TeamsList{% endblock %}

{% block content %}

    <h1>Welcome to the Python-Django <b>Teams + Members List Page</b></h1>

    <div class="container1">
        <h2>Administration team</h2>
        <ul>
            {% for member in memlist %}
            <li>
                <a href="/category/memberslist.html">
                    {{ member.last_name }}
                </a>
            </li>
            {% endfor %}
        </ul>


    </div>

    <div class="container1">
        <h2>Power Plant team</h2>
    </div>

    <div class="container1">
        <h2>Store team</h2>
    </div>

    <div class="a-box">
        <h2>Test</h2>
    </div>



        <!--        <p>Bertie Brennan</p>-->
        <!--        <p>Darrin Juarez</p>-->
<!--        <ul>-->
<!--            {% for member in member %}-->
<!--            <li>-->
<!--                <a href="/member/{{member.id}}">-->
<!--                    {{ member.member_name }}-->
<!--                </a>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="container2">-->
<!--        <h2>Power Plant team</h2>-->
<!--        <p>Quinn Blackburn</p>-->
<!--        <p>Beverley York</p>-->
<!--            <ul>-->
<!--                {% for team in team %}-->
<!--                    <li>-->
<!--                        <a href="{% url 'teamdetail' team.id %}">-->
<!--                            {{ team.team_name }}-->
<!--                        </a>-->
<!--                    </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--    </div>-->
<!--    <div class="container3">-->
<!--        <h2>Store team</h2>-->
<!--        <p>Catalina Knight</p>-->
<!--        <p>Faye Johnson</p>-->
<!--        <p>Sylvester Villa</p>-->
<!--            <ul>-->
<!--                {% for team in team %}-->
<!--                    <li>-->
<!--                        <a href="{% url 'teamdetail' team.id %}">-->
<!--                            {{ team.team_name }}-->
<!--                        </a>-->
<!--                    </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--    </div>-->



  <h2>Go back to</h2>

  <p>
    <a href="{% url 'landing_page' %}"><button><img src="{% static 'tpwebsite/Home.png' %}" width="50px" height="50px">Home</button></a>
  </p>

{% endblock %}


  <h2>Go back to</h2>

  <p>
    <a href="{% url 'landing_page' %}"><button><img src="{% static 'tpwebsite/Home.png' %}" width="50px" height="50px">Home</button></a>
  </p>
